extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Post new messge

  each message in messages
    div(class="message" id=messages.indexOf(message))
      p.message-user= message.user
      p.message-text= message.text
      p.message-date= message.added

