extends layout


block content
  h1= title
  p Welcome to #{title}

  each message in messages
    div(class="message" id=messages.indexOf(message))
      p.message-user= message.user
      p.message-text= message.text
      p.message-date= message.added

